 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
     :root {
        font-family: 'Montserrat', sans-serif;
        --text-color: #333333;
        --link-color: #44B749;
        --button-color: #66CC33;
        font-size: 16px;
        line-height: 1.5;
        scroll-behavior: smooth;
    }
    
    h1,
    h2,
    h3,
    p {
        font-family: 'Montserrat', sans-serif;
    }
    
    hr {
        background-color: var(--link-color);
        width: 60px;
        height: 3px;
        border: none;
    }
    
    section {
        margin: 0;
        padding: 0;
    }
    
    .wrap {
        max-width: 1200px;
        margin: auto;
    }
    
    .container {
        max-width: 1100px;
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .navigation {
        display: flex;
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: flex-end;
        line-height: 1.8;
    }
    
    .logo {
        width: 25%;
        color: var(--link-color);
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .logo p {
        margin: 0;
    }
    
    .menu a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 13px;
        font-weight: bold;
        transition: 0.5s;
    }
    
    .menu a:hover {
        color: var(--link-color);
    }
    
    .logo .icons {
        display: flex;
    }
    
    .icons i {
        margin-left: 5px;
        transition: 0.5s;
        color: var(--button-color);
    }
    
    .icons i:hover {
        color: #FABB16;
    }
    
    .banner {
        background-image: url(../images/title-background-food.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .banner button:hover {
        background-color: var(--link-color);
    }

    .banner-phone a,
    .banner-phone i {
        color: var(--text-color);
        font-size: 25px;
        font-weight: bold;
        margin-top: 70px;
        transition: 0.5s;
        text-decoration: none;
    }
    
    .banner-phone a:hover,
    .banner-phone i:hover {
        color: var(--button-color);
    }

    h1 {
        font-size: 40px;
        width: 50%;
        line-height: 1.2;
        color: var(--text-color);
    }
    
    h2 {
        font-size: 25px;
        line-height: 1.2;
        color: var(--text-color);
        text-align: center;
    }
    
    h3 {
        font-size: 20px;
        line-height: 1.2;
        color: var(--link-color);
    }
    
    button {
        width: 153px;
        height: 50px;
        background-color: var(--button-color);
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        color: white;
        letter-spacing: normal;
        border: none;
        font-family: Montserrat, sans-serif;
        transition: 1s;
    }
    
    .smachno-vdoma img {
        width: 300px;
        height: 300px;
    }
    .about-us h2 {
        margin-bottom: 15px;
    }
    .smachno-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .description-smak {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .delivery-steps {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .our-formats {
        background-image: url(../images/section-background-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .work-format img {
        width: 300px;
        height: 300px;
    }
    
    .work-format p {
        font-weight: bold;
    }
    
    .care-healthy {
        background-image: url(../images/care-healthy.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
    }
    
    .care-healthy h2 {
        color: white;
    }
    
    .care-healthy button {
        background-color: white;
        color: var(--button-color);
        transition: 1s;
    }
    
    .care-healthy button:hover {
        background-color: var(--link-color);
        color: white;
    }
    
    .healthy-culture {
        background-image: url(../images/section-background-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .healthy-culture img {
        width: 300px;
        height: 300px;
    }
    
    span {
        color: var(--link-color);
        font-weight: bold;
    }
    
    .facts-about-us {
        text-align: center;
    }
    
    .our-service {
        background-image: url(../images/section-background-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .list-service {
        background-color: white;
        padding: 25px 25px;
        margin-bottom: 25px;
    }
    
    .trust {
        text-align: center;
    }
    
    .companies-name img {
        margin: 15px 15px;
    }
    
    .map {
        text-align: center;
        background-image: url(../images/section-background-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .map iframe {
        border: 0;
        width: 300px;
        height: 300px;
    }
    
    .contact {
        text-align: center;
        background-image: url(../images/quick-delivery.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .contact p,
    .contact h2,
    .contact h3,
    .contact a {
        color: white;
        text-decoration: none;
    }
    
    .contact i {
        color: white;
        margin-right: 10px;
    }
    
    .contact a:hover {
        text-decoration: underline;
    }
    
    .input-info div {
        margin-bottom: 20px;
    }
    
    .input-info input {
        border-width: 0;
        background-color: #F2F3F4;
        width: 200px;
        height: 30px;
        border-radius: 50px;
        font-size: 13px;
        font-family: monospace;
        padding-left: 15px;
    }
    
    .input-info textarea {
        border-width: 0;
        background-color: #F2F3F4;
        width: 200px;
        height: 100px;
        border-radius: 20px;
        font-size: 13px;
        font-family: monospace;
        padding-left: 15px;
    }
    
    .zakaz p {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .zakaz {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-height: 550px;
    }
    
    .form-order button:hover {
        background-color: var(--link-color);
    }
    
    .menu-footer {
        text-align: center;
        background-image: url(../images/care-healthy.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .menu-footer a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 20px;
        font-size: 12px;
    }
    
    .menu-footer a:hover {
        text-decoration: underline;
    }
    
    .carousel-trio,
    .canteens {
        text-align: center;
    }
    
    .carousel-buttons,
    .canteen-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .prev,
    .next,
    .canteen-prev,
    .canteen-next {
        width: 100px;
        height: 20px;
        margin: 10px 10px;
        font-size: 8px;
    }
    
    .prev:hover,
    .next:hover,
    .canteen-prev:hover,
    .canteen-next:hover {
        background-color: var(--link-color);
    }
    
    .carousel-trio .img1,
    .img2,
    .img3,
    .img4,
    .canteen-img1,
    .canteen-img2,
    .canteen-img3,
    .canteen-img4 {
        margin-right: 5px;
        max-width: 300px;
        max-height: 300px;
    }
    
    .carousel-trio .img2,
    .img3,
    .img4,
    .canteen-img2,
    .canteen-img3,
    .canteen-img4 {
        margin-right: 5px;
        display: none;
    }
    
    @media (min-width: 650px) {
        h1 {
            font-size: 50px;
        }
        .navigation {
            align-items: flex-end;
        }
        .menu {
            width: 90%;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 20px;
        }
        .banner-phone a,
        .banner-phone i {
            font-size: 40px;
        }
        .smachno-about {
            flex-direction: row;
        }
        .description-smak {
            padding-left: 60px;
            padding-right: 60px;
        }
        .work-format {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .work-format img {
            width: 120px;
            height: 120px;
        }
        .companies-name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .map iframe {
            width: 500px;
        }
        .input-info input {
            width: 500px;
        }
        .input-info textarea {
            width: 500px;
        }
        .carousel-trio .img1,
        .img2,
        .img3,
        .img4,
        .canteen-img1,
        .canteen-img2,
        .canteen-img3,
        .canteen-img4 {
            max-width: 400px;
            max-height: 400px;
        }
    }
    
    @media (min-width: 950px) {
        h1 {
            font-size: 60px;
        }
        .navigation {
            align-items: stretch;
        }
        .menu {
            text-transform: uppercase;
            padding-bottom: 18px;
        }
        .menu a {
            font-size: 18px;
        }
        .work-format img {
            width: 200px;
            height: 200px;
        }
        .describtion-delivery {
            display: flex;
            flex-direction: row;
        }
        .delivery-steps {
            width: 25%;
        }
        .healthy-culture {
            display: flex;
            flex-direction: row;
        }
        .facts-about-us {
            display: flex;
            flex-direction: row;
        }
        .service {
            display: flex;
            flex-direction: row;
        }
        .list-service {
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: white;
            width: 25%;
        }
        .map iframe {
            width: 800px;
        }
        .carousel-trio .img2,
        .img3,
        .img4,
        .canteen-img2,
        .canteen-img3,
        .canteen-img4 {
            margin-right: 5px;
            display: inline;
        }
    }
    
    @media (min-width: 1200px) {
        .carousel-trio .img1,
        .img2,
        .img3,
        .img4,
        .canteen-img1,
        .canteen-img2,
        .canteen-img3,
        .canteen-img4 {
            max-width: 250px;
            max-height: 250px;
        }
    }